name: ecosystem

on:
  - push

jobs:
  perl6:

    runs-on: ubuntu-latest

    container:
      image: fernandocorrea/red-tester-no-run

    steps:
      - uses: actions/checkout@v3
      - name: raku -v
        run: raku -v
      - name: Install Red
        run: zef install --/test .

      - name: Install rdependencies
        run: |
          zef rdepends Red  | grep -ve '^Red:ver<' | raku -e '.say for keys lines.classify({ .substr: 0, .index: ":ver<" }).values>>.max (-) ".red-ecosystem-errors".IO.lines>>.&{ .split("#").head.trim }' | while read mod; do echo $mod; zef install $mod; done
